.clear {
    clear: both;
}

#titre-h2 {
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#titre-h3 {
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

#text-intro {
    font-size: 40px;
    color: red;
    text-align: center;
    width: 100%;
    display: block;
}

#tb_pseudo {
    background-color: lightgrey;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

#container-canvas {
    width: 100%;
    background-color: #111111;
    margin-right: 20px;
    text-align: center;
    position: relative;
}
#container-rules {
    width: 100%;
    margin-right: 20px;
}

#container-rules h2 {
    font-size: 18px;
}


h3.titre-rule {
    border-bottom: 1px solid black;
    display: block;
}

#liste-rule-touches {
    padding: 10px 0px;
}
#liste-rule-touches li {
    list-style: disc;
    list-style-position: inside;
    margin-bottom: 10px;
}

#liste-rule-touches li p.hint {
    font-style: italic;
}

.liste-learning li {
    list-style: disc;
    list-style-position: inside;
    text-indent: 10px;
}

.liste-learning li p.hint {
    font-style: italic;
}

